// mixins are functions
@mixin button($text-col:$white, $background: $secondary) {
    display: inline-block;
    width: fit-content;
    padding: .8rem 1.7rem;
    border:1px solid transparent;
    font-weight: 500;
    border-radius: .4rem;
    background: $background;
    color: $text-col;
    cursor: pointer;
    transition: $transition;

    &:hover{
        background: transparent;
        color: $white;
        border-color: $white;
        // box-shadow: 0 1rem 1.6rem rgba($black, 0.15);
    }
}

@mixin gradientBackground{
    background: linear-gradient(135deg, $primary, $primary-variant);
    color: $white;
    h1, h2, h3, h4{
        color: $white;
    }
}